{% extends 'base.html' %}
{% block title %}Blog Posts{% endblock %}
{% block content %}

<div class="col-md-12">
    {% if blog %}
        {% for post in blog %}
            <h1><a href="{% url "post-detail" post.id %}">{{ post.title }}</a></h1>
            <p>{{ post.content|truncatewords:20 }}</p>
            <p><a href="{% url "post-detail" post.id %}" class="btn btn-xs btn-primary">Read More</a></p>
            <div>
                <span class="badge">Posted {{ post.creation_date|date:"d/m/Y" }} by {{ post.author }}</span>
             </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>There are no Blog Posts </p>
    {% endif %}
</div>

{% endblock %}
